<!DOCTYPE html>
<html lang="en">

	{{> head }}

	<body id="top" class="sg">


		{{> header }}

	    <main>

		    {{> body }}

	    </main>

	    <!-- footer -->
		{{> footer }}
		<!-- END: footer -->

	</body>
</html>
