<!DOCTYPE html>
<html lang="en">

{{> head }}

<body id="top" class="sg">


{{> header }}

    <main>

        <aside>
            <nav class="sg-docs-sidenav">
				{{> nav}}
            </nav>

        </aside>

		<div class="sg-panel">
			{{> body }}
		</div>

    </main>

    <!-- footer -->
	{{> footer }}
	<!-- END: footer -->
</body>
</html>
