/*  ###########################################################################
    company:    DutchCelt Design
    date:       January 2011
    ########################################################################### */


/*  FORMS [WARNING! low specificity!]------------------------------------------ */

    form {
        padding: 0 0 @em/2 0;
        max-width: @form-width;  
        }
    fieldset {
        padding: 0 0 @em/2 0;
        }
    label {
        clear: left;
        float: @label-orientation;
        display: block;
        padding-right: @block-space/2;
        width: @label-width;
        text-align: @label-text-orientation;
        }
    input[type=search],
    input[type=url],
    input[type=email],
    input[type=text]{
        float: @label-orientation;
        width: @text-input-width;
        }
    input[type=number],
    input[type^=date],
    input[type=time] {
        float: @label-orientation;
        width: @text-input-width*0.325;
        }
    input[type=checkbox],
    input[type=radio]{
        width: auto;
        }
    input[type=checkbox] + label {
        float: none;
        display: inline;
        }
    input[type="radio"] + label {
        display:inline;
        float:none;
        }
    select {
        float: @label-orientation;
        width: auto;
        min-width: @text-input-width*0.655;
        }
    textarea {
        float: @label-orientation;
        width: @text-input-width;
        }
    input[type=checkbox] {
        float: left;
        }
    div > div > input[type=radio],
    div > div > input[type=checkbox] {
        float: none;
        display: inline;
        }
    fieldset > div {
        padding-bottom: @interline/1.5;
        float: @label-orientation;
        width: 100%;
        }
    fieldset > div > div {
        float: @label-orientation;
        width: @text-input-width;
        }
    div > div > label {
        float: none;
        display: inline;
        }
    input[type=button],
    input[type=submit] {
        width: auto;
        }

    select[multiple]{ width: @text-input-width*0.655; }
        