<header>
    <div class="logo">Front-end Patterns</div>
</header>

<nav>
    <ul>
	    {{#withSort pages "data.order"}}
		    <li{{#is ../page.dest this.dest}} class="active"{{/is}}><a href="{{basename}}.html">{{data.title}}</a></li>
	    {{/withSort}}
	    <li><a href="https://twitter.com/dutchcelt"><i class="fa fa-twitter"></i> dutchcelt</a></li>
    </ul>
</nav>
