<head>
    <title>Front-end Patterns</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="styles/css/main.css" media="screen"/>
    <script src="lib/system.js"></script>
    <script src="config.js"></script>
    <!--[if lte IE 8]>
	<script type="text/javascript" src="es5.js"></script>
    <![endif]-->
    <script>

        if( 'querySelector' in document && 'localStorage' in window && 'addEventListener' in window ) {
            System.import('./scripts/main.js').then(function( main ){
                main.init();
            });
        }

    </script>

</head>
