<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.description }}">

    <!-- Default styles -->
    <link rel="stylesheet" type="text/css" href="styles/css/main.css" media="screen" />

    <!-- Default scripts -->
    <!--[if lte IE 8]>
	<script type="text/javascript" src="es5.js"></script>
    <![endif]-->
	<script type="text/javascript" src="polyfills.js"></script>
    <script async type="text/javascript" data-main="scripts/minified/main" src="scripts/minified/require_jquery.js"></script>

</head>
