/*  ###########################################################################
    Author:    C. Egor Kloos - DutchCelt Design
    ########################################################################### */


    
//  Basic colour values -------------------------------------------------------

    @light-color:           #ffffff;
    @dark-color:            #252b2c;
    @text-color:            @dark-color;
    
    
//  Color sets ----------------------------------------------------------------
    
    @brand-color:           #7abcff;

    @blue1:                 @brand-color;
    @blue2:                 darken(@blue1, 15%);
    
    @green1:                #57c26c;
    @green2:                darken(@green1, 15%);
    
    @yellow1:               #ffe362;
    @yellow2:               darken(@yellow1, 25%);
    
    @red1:                  #f83f21;
    @red2:                  darken(@red1, 15%);
    
    @error:                 #cd0a0a;   
   
    @grey9:                 @dark-color; // Dark tone first as its hue is easier to control
    @grey8:                 lighten(@grey9,10%);
    @grey7:                 lighten(@grey9,20%);
    @grey6:                 lighten(@grey9,30%);
    @grey5:                 lighten(@grey9,40%);
    @grey4:                 lighten(@grey9,50%);
    @grey3:                 lighten(@grey9,60%);
    @grey2:                 lighten(@grey9,65%);
    @grey1:                 lighten(@grey9,70%);
    @grey0:                 lighten(@grey9,78%);


//  Link colour values --------------------------------------------------------

    @link-color:            #0080ff;
    @link-color-visited:    #8000ff;
    @link-color-hover:      @link-color;
    @link-color-active:     @link-color;
    

